<!DOCTYPE html>
<html lang="en">
<head>
<title>Jade</title>
<script type="text/javascript">
</script> 
</head>
<body>
<h1>Friend-Events Confirm Email</h1>
<div id="container" class="col">
<h2>Thank you for signing up!</h2>
<p> FriendEvents is a new social site for finding local events and making new friends who share similar interests. Browse through local events and click to sign up. You can then go to the event's page to see other interested users. From there, you can initiate private chats or go directly to the group chat. After that, the rest is up to you!</p>
<p>Want to do something but don't have enough people? You can also create your own events. Friend Events is all about user driven/created events. Be responsible and have fun!</p>
<p>Your passcode is: #{text} . Please use this passcode to confirm your accout at www.friend-events.com/confirmEmail</p>
<p>If you have any questions, concerns, or comments. Feel free to reply back.</p>
</div>
</body>
</html>