<!DOCTYPE html>
<html lang="en">
<head>
<title>Jade</title>
<script type="text/javascript">
</script> 
</head>
<body>
<h1>Friend-Events Password Reset</h1>
<div id="container" class="col">
<p>You are recieving this email, because someone requested a password reset for this email.</p>
<p>Your passcode is: #{text} . Please use this passcode to set a new password at https://www.friend-events.com/#!/resetEmail </p>
</div>
</body>
</html>