<style type="text/css">
 table {
  margin-top: 4%;
  /*border-bottom: 1px solid white !important;*/
 }
 span {
  color: orange;
  margin-left: -50px;
 }
 .col-sm-11 {
  margin-left: 12%;
 }
</style>
<div ng-controller = "chatListController">
	<div class = "container">
	<div class = "col-sm-6">
	<table class = "table table-bordered">
        <tr>
          <th class = "info">Private Chats</th>
        </tr>
        <tr class = "col-sm-11 col-sm-offset-1"  ng-repeat="chat in chatList">
          <td ng-if="chat.block != 'true'"><a href="#!/privateChat/{{chat._id}}"> <span ng-if="chat.news.indexOf(loginId) < 0" class = "btn btn-danger">NEW!</span> {{chat._friend.firstName}} {{chat._friend.lastName}}</a></td>
        </tr>
        <tr class = "col-sm-11 col-sm-offset-1"  ng-repeat = "chat in chatList2">
          <td ng-if="chat.block != 'true' "><a href="#!/privateChat/{{chat._id}}"><span ng-if="chat.news.indexOf(loginId) < 0" class = "btn btn-danger">NEW!</span> {{chat._user.firstName}} {{chat._user.lastName}}</a></td>
        </tr>
    </table>
	</div>
	<div class = "col-sm-6">
	<table class = "table table-bordered">
        <tr>
          <th class = "info">Group Chats</th>
        </tr>
        <tr class = "col-sm-11 col-sm-offset-1" ng-repeat="event in userEvents.events">
          <td ng-if="event"><a href="#!/groupChat/{{event._id}}"><span ng-if="event._eventPost.news.indexOf(loginId) < 0" class = "btn btn-danger">NEW!</span> {{event.title}}</a></td>
        </tr>
    </table>
	</div>
    </div>

</div>