<style type="text/css">
  p {
    color: red;
    display: inline;
  }
</style>
<div ng-controller = "confirmEmailController">
  <div class = "container">
  <form  ng-submit = "confirmEmail()" class = "form-horizontal">
    <h2>Check your email for the passcode</h2>
    <div class = "form-group">
      <label for = "passcode" class = "col-sm-3 control-label">Confirm Passcode:</label>
      <p ng-hide ="passcodeError">{{passcode}}</p>
      <div class = "col-sm-7">
        <input type ='text' name ='passcode' id = "passcode" class = "form-control" placeholder = "passcode" ng-model = 'user.passcode'>
        <br>
        <input type='submit' value='Confirm Email' class = "btn btn-primary">
      </div>
    </div>
  </form>
</div>
