<style type="text/css">
  .btn-danger, .btn-success {
    padding: 20px 40px;
    font-size: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  form {
    display: inline-block;
  }
  .btn-primary {
    display: inline-block;
  }
  form {
    text-align: left;
  }
  input {
    color: black;
    /*margin-left: 0px;*/
  }
  .toast {
  }
</style>
<div ng-controller='dashboardController'>
      <div class = "container-fluid">
      <div class = "col-sm-12">
      <h1><a class = "dashboardTitle" href="#!/showEvent/{{event._id}}">{{ event.title }}</a></h1>
      <!-- <h4><a href="#!/showEvent/{{event._id}}">{{ event.description }}<a></h4> -->
      <table class = "table ">
        <tr>
          <th>Category</th>
          <th>Date</th>
          <th>Location</th>
          <th>Distance</th>
          <th class = "Max">Max ({{distanceSetting.distance}} mi.)</th>
        </tr>
        <tr>
          <td>{{event.category}}</td>
          <td>{{ event.date | date: 'short' }}</td>
          <td>{{ event.fullAddress }}</td>
          <td>{{ distance | number:0 }} miles</td>
          <td class= "Max"><form class = "form-dorizontal distanceForm">
            <input type = "number" ng-model = "setting.distance" style="width:30%">
            <button ng-click = "setDistance()" class = "btn btn-primary distanceInput" >Set Max Distance</button>
          </form></td>
        </tr>
      </table>
    <div>
        <div class = "row">
        <div class = "col-sm-6">
          <a href="#!/showEvent/{{event._id}}"><img class = "photo" src="{{event.event1Url}}" width="100%" /></a>
<!--           <img ng-hide = "photo1" class = "photo" src="/Upload.png" width="50%"> -->
          <br>
        </div>
        <div class = "col-sm-6">
          <a href="#!/showEvent/{{event._id}}"><img class = "photo" src="{{event.event2Url}}" width="100%" /></a>
          <br>
        </div>
        </div>
        <div class = "row">
          <div class = "col-sm-6">
            <button ng-click = "joinEvent()" class = "btn btn-success">Interested!</button>
          </div>
          <div class = "col-sm-6">
            <button ng-click = "passEvent()" class = "btn btn-danger">Pass!</button>
          </div>
        </div>
</div>