<style type="text/css">
  p {
    color: red;
    display: inline-block;
  }
  .last-btn {
    margin-bottom: 10%;
  }
</style>
<div ng-controller = "eventController">
 <div class = "container-fluid">
 <h1>Create Event</h1>
 <form  ng-submit = "addEvent()" class = "form-horizontal">
     <div class = "form-group">
        <label for = "title" class = "col-sm-3 control-label"> Event Title:</label>
        <p ng-hide ="ETError">{{eventTitleError}}</p>
        <div class = "col-sm-6 col-xs-10 col-xs-offset-1">
          <input type ='text' name ='title' id = "title" class = "form-control" ng-model = 'event.title' placeholder = "Event Title">
        </div>
      </div>
      <div class = "form-group">
        <label for = "description" class = "col-sm-3 control-label">Event Description:</label>
        <p ng-hide ="EDError">{{eventDescriptionError}}</p>
        <div class = "col-sm-6 col-xs-10 col-xs-offset-1">
          <textarea class="form-control" rows="3" id = "description" ng-model = 'event.description' placeholder = "Description"></textarea>
        </div>
      </div>
      <div class = "form-group">
        <label for = "date" class = "col-sm-3 control-label"> Event Date:</label>
        <p ng-hide ="EDError">{{eventDateError}}</p>
        <div class = "col-sm-6 col-xs-10 col-xs-offset-1">
          <input type ='datetime-local' name ='date' id = "date" class = "form-control" ng-model = 'event.date'>
        </div>
      </div>
      <div class = "form-group">
        <label for = "StreetAddress" class = "col-sm-3 control-label"> Street Address:</label>
        <p ng-hide ="SAError">{{streetAddressError}}</p>
        <div class = "col-sm-6 col-xs-10 col-xs-offset-1">
          <input type='text' name='StreetAddress' id = "StreetAddress" class = "form-control" placeholder = "StreetAddress" ng-model = 'event.streetAddress'>
        </div>
      </div>
       <div class = "form-group">
        <label for = "city" class = "col-sm-3 control-label">City:</label>
        <p ng-hide ="CError">{{cityError}}</p>
        <div class = "col-sm-6 col-xs-10 col-xs-offset-1">
          <input type='text' name='city' id = "city" class = "form-control" placeholder = "city" ng-model = 'event.city'>
        </div>
      </div>
       <div class = "form-group">
        <label for = "state" class = "col-sm-3 control-label">State:</label>
        <p ng-hide ="SError">{{stateError}}</p>
        <div class = "col-sm-6 col-xs-10 col-xs-offset-1">
          <input type='text' name='state' id = "state" class = "form-control" placeholder = "state" ng-model = 'event.state'>
        </div>
      </div>
       <div class = "form-group">
        <label for = "zipcode" class = "col-sm-3 control-label">Zipcode:</label>
        <p ng-hide ="ZError">{{zipcodeError}}</p>
        <div class = "col-sm-6 col-xs-10 col-xs-offset-1">
          <input type='text' name='zipcode' id = "zipcode" class = "form-control" placeholder = "zipcode" ng-model = 'event.zipcode'>
        </div>
      </div>
      <div class = "form-group">
        <label for = "Participants" class = "col-sm-3 control-label">Number of Participants:</label>
        <p ng-hide ="NPError">{{numberParticipantsError}}</p>
        <div class = "col-sm-6 col-xs-10 col-xs-offset-1">
          <input type='number' name='Participants' id = "Participants" class = "form-control" placeholder = "Participants" ng-model = 'event.participants'>
        </div>
      </div>
      <div class = "form-group">
        <label for = "category" class = "col-sm-3 control-label">Event Category:</label>
        <p ng-hide ="ECError">{{eventCategoryError}}</p>
        <div class = "col-sm-6 col-xs-10 col-xs-offset-1">
          <select class = "form-control" id = "category" ng-model = "event.category">
            <option>Arts</option>
            <option>Classes</option>
            <option>Commercial</option>
            <option>Celebration</option>
            <option>Company</option>
            <option>Dance</option>
            <option>Dating</option>
            <option>Entertainment</option>
            <option>Fair</option>
            <option>Family</option>
            <option>Food & Drink</option>
            <option>Gambling</option>
            <option>Gaming</option>
            <option>Meetup</option>
            <option>Music</option>
            <option>Networking</option>
            <option>Outdoors</option>
            <option>Party</option>
            <option>Sports</option>
            <option>Tech</option>
          </select>
          <br>
        <input type='submit' value='Create Event' class = "btn btn-primary last-btn">
        </div>
      </div>
    </form>

  </div>
</div>