<meta name="viewport" content="width=device-width, initial-scale=.8">
<style type="text/css">
  li {
    list-style-type: none;
  }
  .list {
    text-align: right;
  }
  .col-sm-12 {
    background-color: rgb(219, 241, 255);
    padding: 3%;
    border-radius: 2%;
    padding-bottom: 12%;
    overflow-y: scroll;
    height: 250px;
    font-family: serif;
    font-weight: 300;
  }
  .col-sm-9 {
    text-align: right;
  }
  .col-sm-12 li {
    color: black;
    text-align: left;
    margin-bottom: -5px;
    margin-top: -5px;
    font-weight: 500;
    font-family: serif;
  }
  .col-sm-12 a {
    color: orange;
  }
    .dateSmall {
    font-size: .7em;
  }
  .postName {
    
  }
  .postName a{
    font-size: .85em;
    color: darkblue;
  }
  .postDiv {
    border-radius: 5%;
    display: inline-block;
    padding: 3% 3%;
    background-color: rgb(255, 225, 165);
    width: 28%;
    word-wrap: break-word;
  }
  .postPost {
    color: #330000 !important;
    line-height: .99em !important;
    /*margin: 4% 1% !important;*/
    margin-bottom: 5% !important;
    font-size: 1.2em !important;
  }
  .chatBox {
    text-align: right;
  }
 </style>
<div ng-controller = "chatController">
	<div class = "container">
		<h1> Event Chat: {{eventInfo.title}}</h1>
    <h4>{{eventInfo.description}}</h4>
    <div id = "chat" class = "col-sm-12">
      <ul class = "list" ng-repeat="post in eventInfo.posts track by $index">
           <div ng-style="post._user == loginId &&{'background-color' :'rgb(79, 178, 255)' } || {'margin-right': '30%'} " class = "postDiv">
          <li class = "postPost">{{ post.post }}</li>
          <li class = "postName" > <a href="#!/user/{{post._user}}">-{{post.userFullName}}</a></li>
          <li class = "dateSmall">{{post.created_at | date:'short'}}</li>
        </div>
      </ul>
  </div>
		<form class = "newform" name = "postForm">
       <div class = "form-group col-sm-offset-3 col-sm-9">
        <div class = "">
           </br> <textarea id = "message" class = "form-control" ng-model = "post.post"></textarea><br>
          <input type='submit' value='Chat' class = "btn btn-success">
        </div>
      </div>
   </form>
  </div>
 </div>