<meta name="viewport" content="width=device-width, initial-scale=.8">

<style type="text/css">
  li {
    list-style-type: none;
  }
  .col-sm-8 {
    background-color: rgb(219, 241, 255);
    border-radius: 1%;
    padding: 3%;
    overflow-y: scroll;
    height: 250px;
    padding-bottom: 10%;
    font: sans-serif;
    }
  .col-sm-8 li{
    color: black;
    text-align: left;
    margin-bottom: -5px;
    margin-top: -5px;
    font-family: serif;
    font-weight: 300;
  }
  .col-sm-8 a {
    color: orange;
    text-align: left;
    font-weight: 500;
    font-family: serif;
  }
  h1 {
    display: inline-block;
  }
  button, .link{
    margin-top: -20px;
    margin-left: 10px;
  }
  .dateSmall {
    font-size: .7em;
  }
  .postName {
    
  }
  .postName a{
    font-size: .85em;
    color: darkblue;
  }
  .postDiv {
    border-radius: 5%;
    display: inline-block;
    padding: 3% 3%;
    background-color: rgb(255, 225, 165);
    width: 28%;
    word-wrap: break-word;
  }
  .postPost {
    color: #330000 !important;
    line-height: .99em !important;
    /*margin: 4% 1% !important;*/
    margin-bottom: 5% !important;
    font-size: 1.2em !important;
  }
  .chatBox {
    text-align: right;
  }
</style>
<div ng-controller = "privateChatController">
	<div class = "container">
		<h1>Private</h1>
    <a class= "btn link btn-success" ng-if = "privateChats._user != loginId" href="#!/user/{{privateChats._user}}">Friend's Profile</a>
    <a class = "btn link btn-success" ng-if = "privateChats._friend != loginId" href="#!/user/{{privateChats._friend}}">Friend's Profile</a>
    <button ng-click = "deleteChat()" class = "btn btn-warning">Delete Chat</button>
    <button ng-click="blockUser()" class = "btn btn-danger">Block User</button>
    <div id = "chat" class = "col-sm-8 col-sm-offset-2">
      <ul class = "list chatBox" ng-repeat="post in privateChats.posts track by $index">
        <div ng-style="post._user == loginId &&{'background-color' :'rgb(79, 178, 255)' } || {'margin-right': '30%'} " class = "postDiv">
          <li class = "postPost">{{ post.post }}</li>
          <li class = "postName" > <a href="#!/user/{{post._user}}">-{{post.userFullName}}</a></li>
          <li class = "dateSmall">{{post.created_at | date:'short'}}</li>
        </div>
      </ul>
  </div>
		<form class = "newform" name = "newform">
       <div class = "form-group col-sm-offset-3 col-sm-7">
        <div class = "chatBox">
           </br> <textarea id = "chat" class = "form-control" ng-model = "privateChat.post"></textarea><br>
          <input type='submit' value='Chat' class = "btn btn-success">
        </div>
      </div>
	 </form>
  </div>
 </div>