<style type="text/css">
.green {
  font-size: 2em;
  color: rgb(0, 255, 89);
}
.submit {
  margin-bottom: 5%;
}
.edit {
  margin-bottom: 2%;
}
</style>
<div ng-controller='userController'>
      <h1>{{user.firstName}} {{user.lastName}}</h1>  
      <div class = "container-fluid">
      <div class = "col-sm-4 col-sm-offset-1 col-xs-8 col-xs-offset-2">
        <img ng-show = "photo1" src="{{user.userPicUrl}}" style="width:100%"/>
        <form ng-if="loginId == user._id" ng-app="fileUpload" width = "90%" name="form">
          <input class = "chooseFile" type="file" ngf-select ng-model="picFile" name="file"  width = "90%" accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile">
          <br>
          <button type="submit" class = "btn submit button btn-primary" ng-click="uploadPic(picFile)">submit</button>
      </form>
      </div>
      <div class = "col-sm-7">
      <table class = "table table-bordered">
        <tr>
          <th class = "info">Likes</th>
          <th class = "info">Age</th>
          <th class = "info">Gender</th>
        </tr>
        <tr>
          <td class = "green">{{user.likeCount}}</td>
          <td>{{user.age}}</td>
          <td>{{user.gender}}</td>
        </tr>
      </table>
            <table class = "table table-bordered">
        <tr>
          <th class = "info">Work</th>
          <th class = "info">School</th>
          <th class = "info">Truth or Lie</th>
          <th class = "info">Truth or Lie</th>
          <th class = "info">Truth or Lie</th>
        </tr>
        <tr>
          <td>{{user.work}}</td>
          <td>{{user.school}}</td>
          <td>{{T1}}</td>
          <td>{{T2}}</td>
          <td>{{T3}}</td>
        </tr>
      </table>

      <button ng-if="loginId != user._id" ng-click = "createPrivate()" class = "btn button btn-warning">Chat</button>
      <button ng-if="loginId != user._id" ng-click = "likeUser()" class = "btn button btn-success">Like User!</button>
      <a ng-if="loginId == user._id"class = "btn edit button btn-primary" href="#!/editUser/{{user._id}}">Edit</a>
    </div>
  </div>
</div>